* { 
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;

}
body {
	font: 300 15px/23px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #302F2F;
	margin:0 auto;
	background-color: #eee;
	background-image: url(http://allwomenstalk.com/images/bg-body.jpg);
	background-attachment:fixed;
}
a {
	text-decoration:none;
	color:#c00;
}
a:hover {text-decoration:none;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}

html, body {
	height: 100%;
}

/* general settings */
.hidden {
	display:none;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
[data-icon]:before {
	font-family: 'Pictos';
	content: attr(data-icon);
}
.pic {
	font-family: 'Pictos';
}
h2, h3, h4 {
	font-family: 'Oswald', Helvetica, 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
}
.main-area h2, .main-area .h2,
.main-area h4, .main-area .h4 {
	margin:0 0 20px;
	font-size: 40px;
	line-height: 1.2em;
	color:#333;
	text-align: left;
	text-transform:uppercase;
	letter-spacing: -1px;
	width: 70%;
}
.main-area h3 {
	margin:0 0 21px;
	color:#777775;
	text-transform:uppercase;
	font-size:30px;
	line-height:1.2em;
	text-shadow: 1px 1px 2px #777775;
}
p {
	margin:0 0 25px;
}
.menu a {
	text-decoration:none;
	color:#4f4f4f;
	font:600 12px/33px Helvetica, Arial, sans-serif;
}
.menu a:hover {
	color:#CC0000;
}
img.post-image {
	display:block;
	width: 100%;
}
.loading-icon {
	display:none;
	padding-bottom: 20px;
	text-align: center;
}
.spinner {
	width:40px;
	height:40px;
	margin: 0 auto;
	text-align:center;
	vertical-align:middle;
	color:white;
	font: normal 40px/40px Pictos;
	text-shadow:0 0 1px #999;
	-webkit-animation: spinner 1s infinite linear;
	-moz-animation: spinner 1s infinite linear;
	animation: spinner 1s infinite linear;
	-webkit-transform-origin: 50% 55%; /* place rotation center at the icon center */
	-moz-transform-origin: 51% 55%;
	transform-origin: 50% 55%;
}
@-webkit-keyframes spinner {
from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
from {
	-moz-transform: rotate(0deg);
}
to {
	-moz-transform: rotate(360deg);
}
}
@keyframes spinner {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1100000;
}
#popup {
	background: #EEE;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: -320px;
	width: 320px;
	
}
#popup-content {
	overflow-y: auto;
}
#popup-header {
	padding: 14px 12px 10px 12px;
	height: 16px;
	box-shadow: 0px 1px 2px #ccc;
}
#popup-header h3 {
	font: normal 20px/12px Oswald, "Helvetica Neue",sans-serif;
}
#popup-close {
	position: absolute;
	top: 7px;
	right: 14px;
	color: #302F2F;
	font-size: 20px;
	line-height: 20px;
}

.sidebar-close {
	display: none;
}

.archive-meta {
	text-align: center;
}
h1.page-title {
	margin: 0;
	padding: 20px 15px;
	font: 700 1.4em Helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #000;
	color: #fff;
	background: #444;
}
.dropdown {
	position: relative;
}
h1.page-title.dropdown-toggle {
	cursor: pointer;
}
.dropdown-toggle:after { /* arrow */
	margin-left: 10px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #999999;
	content: "";
	font-size: 24%;
	opacity: 0.5;
}
.dropdown-menu {
	position: absolute;
	right: 0;
	left: 0;
	background-color: #fff;
	text-align: center;
	opacity: 0.97;
	z-index: 100;
	display: none;
}
.dropdown.open .dropdown-menu {
	display: block;
}
.dropdown-menu li {
	list-style: none;
}
.dropdown-menu li a {
	color: #333333;
	padding: 20px 15px;
	display: block;
}
.dropdown-menu li a:hover {
	background: #f9cdd0;
}

/*
 * Tooltips
 */
.tooltip {
	position: absolute;
	display: block;
	padding:5px;
	font-size: 11px;
	opacity: 0;
	margin-left: 5px; /* right position */
}
.tooltip.in {
	opacity: 0.8;
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: black;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: black;
}

.load-more {
	padding: 16px 0;
	text-align: center;
}
.load-more a {
	width: 70%;
}

.bubble {
	background: red;
	border: 1px solid #B01A01;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	padding: 1px 2px 0 2px;
	margin-left: 10px;
	position: absolute;
	top: 1px;
	left: 5px;
	color: white; 
	font: bold 10px Arial; 
	text-shadow: 0 -1px 0 black; 
}

/* bootstrap */
.fade {
	opacity:0;
	transition:opacity 0.15s linear 0s;
}
.bt-btn, .entry-content .page-link a, #submit,
input.gsc-search-button {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.bt-btn:hover,
.bt-btn:active,
.bt-btn.active,
.bt-btn.disabled,
.bt-btn[disabled] {
  background-color: #e6e6e6;
}
.bt-btn:active, .bt-btn.active {
  background-color: #cccccc;
}
.bt-btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.bt-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.bt-btn.active, .bt-btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  outline: 0;
}
.bt-btn.disabled, .bt-btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bt-btn-group {
  position: relative;
}
.bt-btn-group + .bt-btn-group {
  margin-left: 5px;
}

.bt-btn-group .bt-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight:bold;
  font-family:Helvetica,Arial;
  text-shadow:0 1px 0 #FFFFFF;
  color:#444;
  outline:none;
}

.bt-btn-group .bt-btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.bt-btn-group .bt-btn:last-child, .bt-btn-group .bt-dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.bt-btn-group .bt-btn:hover,
.bt-btn-group .bt-btn:focus,
.bt-btn-group .bt-btn:active,
.bt-btn-group .bt-btn.active {
  z-index: 2;
}

.bt-small {
	border: 1px solid rgba(0, 0, 0, .02);
	border-radius: 3px;
	background: none;
	padding: 4px 6px;
	color: #999;
	font-size: 12px;
	cursor: pointer;
}
.bt-small:hover {
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 -15px 10px rgba(0, 0, 0, .05) inset;
}
.bt-link {
	border: none;
	border-radius: 0;
	background: none;
	text-decoration: underline;
	color: #969696;
	cursor: pointer;
}

.mini-post, .mini-comment, .mini-category, .mini-author {
	position: relative;
	border-bottom: 1px solid #DEDEDE;
	overflow: hidden;
	padding: 8px;
}
.mini-category::after, .mini-author::after {
	content: ' →';
	color: #c00;
}
.mini-category::before {
	content: 'Category: ';
	color: #999;
	font-weight:normal;
}
.mini-author::before {
	content: 'Author: ';
	color: #999;
	font-weight:normal;
}
.mini-post .post-image-link {
	float: left;
	margin-right: 8px;
}
.mini-post .link-size-small {
	width: 60px;
}
.mini-post .post-image {
	width: 60px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid white;
}

.mini-post .category-label {
	color:#999;
	text-shadow: 0 1px 0 #fff;
	display:block;
	font-size:9px;
	line-height: 9px;
	font-weight:bold;
	text-transform: uppercase;
	white-space:nowrap;
}
.mini-post .category-label a {
	color: #999;
}
.mini-post .entry-link, .mini-category, .mini-author {
	font:bold 15px/1.2em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	display: block;
	max-height: 36px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-shadow:0 1px 0 #FFFFFF;
}
.mini-post .entry-link {
	margin-bottom: 5px;
}
.mini-post .counter {
	font-size: 9px;
	line-height: 15px;
}
.mini-post .counter span {
	position: static;
	text-shadow: 0 1px 0 white, 0 0px 0 #BBB;
	padding-right: 4px;
}
.mini-post .counter .likes::before,
.mini-post .counter .comments::before {
	font-size: 11px;
}
.mini-post .time,
.mini-comment .time {
	position: absolute;
	top: -5px;
	right: 3px;
	float: right;
	color: rgba(0, 0, 0, .2);
	font-size: 9px;
	font-weight: bold;
	text-shadow: 0 1px 0 white, 0 0px 0 #BBB;
}

.mini-comment {
	padding-left: 13px;
	color: #666;
	text-overflow: ellipsis;
}
.mini-comment .post-link a {
	font-weight: bold;
	text-shadow: white 1px 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.mini-comment.has-avatar .mini-body {
	margin-left: 50px;
}
.mini-comment .image {
	float: left;
	width: 40px;
	margin-right: 10px;
}
.mini-comment .avatar {
	display: block;
	border-radius: 50%;
}

/*comment author popup*/
.comment .image,
.comment .comment-author span {
	cursor: pointer;
}
#modalPopup {
	top: 52%;
	overflow: hidden;
}
#modalPopup.in {
	top: 50%;
}
#modalPopup .modal-header {
	position: absolute;
	right: 0;
	z-index: 1;
}
#modalPopup .modal-body {
	padding: 0;
	width: 100%;
	height: 100%;
	padding-right: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#modalPopup .cap {
	width: 320px;
}
.cap .image {
	position: relative;
}
.cap .image img {
	width: 100%;
}
.cap .image h1 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 0;
	padding: 30px 0;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-shadow: 0px -1px #000;
	background: -webkit-gradient(linear, left top, left bottom, from( rgba(0,0,0,.0)), to( rgba(0,0,0,.9)));
}
.cap .cap-link {
	display: block;
	margin: 20px;
	text-align: center;
}
.cap .cap-link a::after {
	content: ' →';
}
.cap .mini-post, 
.cap .mini-comment {
	border-bottom: 1px dashed #CCC;
	border-top: 1px dashed white;
}
.cap .mini-comment .mini-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* layout */
#wrapper {
	position: relative;
}
.layout-post #wrapper,
.layout-page #wrapper {
	height: 100%;
	width: 889px;
	float: right;
}
.layout-post.ad-layout-none #wrapper,
.layout-page.ad-layout-none #wrapper {
	width: 768px;
}
.layout-post.ad-layout-wide #wrapper,
.layout-page.ad-layout-wide #wrapper {
	width: 1069px;
}

.layout-blog #main {
	margin-top: 40px;
}
.box-hold {
	position: relative;
	height:1%;
	margin:0 auto;
}
.box-hold:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.box-hold .box {
	float: left;
	position: relative;
	height: 400px;
	margin: 0 2px 2px 0;
	background-position: center center;
	background-size: cover;
	background-color: #444444;
}
.box-hold  .mostliked {
	box-shadow:0 1px 1px rgba(0,0,0,.2), 0 1px 15px rgba(0,0,0,.4);
}

.blog-hold {
	width:768px;
	min-height: 100%;
	overflow:hidden;
	background: #F8F8F8;
	box-shadow: 0 0 5px #CDCBCC;
}
.main-area {
	margin-top: 40px;
	padding-bottom: 32767px; /* stretch column */
	margin-bottom: -32767px;
	background: white;
}
#single {
	float:left;
	width:468px;
	border-right: 1px solid #DDD;
}
#page {
	
}
.sidebar-area {
	position: fixed;
	top: 89px; /* space for author block */
	bottom: 39px; /* space for commentLogin, space for commentForm set by js */
	width: 315px; /* including typical scrollbar - 15px */
	margin-left: 469px;
}

/* Header bar */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	z-index:1000;
}
.layout-post #header,
.layout-page #header {
	right: 120px;
}
.layout-post.ad-layout-none #header,
.layout-page.ad-layout-none #header {
	right: 0;
}
.layout-post.ad-layout-wide #header,
.layout-page.ad-layout-wide #header {
	right: 300px;
}
#header nav {
	background:#eee;
	box-shadow:0 25px 20px #FFFFFF inset, 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 25px 20px #FFFFFF inset, 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 25px 20px #FFFFFF inset, 0 3px 6px rgba(0, 0, 0, 0.2);
	height: 30px;
	overflow: hidden;
	background:#eee;
	z-index:1010;
}
#header nav ul {
	margin:0;
	text-align:center;
}
#header nav li {
	list-style:none outside;
	display:inline-block;
	margin-right:-3px;
}
#header nav li a {
	padding:0 7px 0 6px;
	border-left: 1px solid #ddd;
}
#header #top {
	background: rgb(200,50,100);
	height: 40px;
	position: relative;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
	font-weight: bold;
	z-index: 1020;
}
#header #top a {
	color: #fff;
}
#header #top a.top-link, #header .search-box {
	margin: 2px 5px;
	font-size: 20px;
	line-height: 36px;
	font-weight: normal;
}
#header #top a.top-link {
	text-shadow: 0 0px 2px rgba(0,0,0,.5);
	opacity: .6;
}
#header #top a.top-link:hover{
	opacity: 1;
}
#header #auth_place {
	margin: 2px 5px 0;
}
#header .search-box {
	display: inline-block;
	margin-top: 2px;
	text-align: left;
}
#header .search-box input {
	background: #F9CDD0;
	width: 152px;
	margin-bottom: 9px;
}
#header .search-box input:focus {
	background: #FCFCFC;
}

#header .search-box input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .2);
}
#header-links {
	position: absolute;
	right: 10px;
	top: 0;
}
#header-links > a {
	vertical-align: 4px;
}

#header #logo {
	font-size: 23px;
	text-transform: lowercase;
	padding: 2px;
	height: 36px;
	overflow: hidden;
}
#header #logo a {
	line-height: 29px;
	display: block;
	width: 180px;
	margin: 3px auto;
	-webkit-transition: margin-top .25s ease-in-out;
	   -moz-transition: margin-top .25s ease-in-out;
		-ms-transition: margin-top .25s ease-in-out;
		 -o-transition: margin-top .25s ease-in-out;
			transition: margin-top .25s ease-in-out;
}
#header #logo a:after {
	font-family: Pictos;
	content: ' H';
	text-transform: uppercase;
}
#header #logo a:hover {
	margin-top: -27px;
}
#menu-link {
	position: absolute;
	left: 9px;
	top: 0;
}

.header-mobile {
	display: none;
}

/* Categories */
#menu {
	position: relative;
	z-index: 900;
	top: -44px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 44px;
	overflow: hidden;
	background: #333;
	color: white;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-transition: top .4s ease;
	-moz-transition: top .4s ease;
	transition: top .4s ease;
}
.menu-open #menu {
	top: 0;
}
#menu .prev,
#menu .next {
	position: absolute;
	top: 0;
	height: 44px;
	width: 44px;
	background: #333;
	cursor: pointer;
	font-family: Pictos;
	line-height: 44px;
	text-align: center;
}
#menu .prev:hover,
#menu .next:hover {
	background: #393939;
	color: #EF838A;
}
#menu .prev {
	left: 0;
	border-right: 1px solid #414141;
}
#menu .next {
	right: 0;
	border-left: 1px solid #414141;
}
#menu ul {
	margin: 0;
}
#menu ul li {
	float: left;
	display: block;
	list-style: none;
	padding: 0 7px;
}
#menu ul li:first-child {
	margin-left: 44px;
}
#menu ul li:last-child {
	margin-right: 44px;
}
#menu ul li a {
	padding: 0 9px;
	font-size: 14px;
	line-height: 44px;
	font-weight: bold;
	text-shadow: 0 -1px 0 black;
	color: white;
}
.menu-open #header {
	height: 84px;
}
.menu-open #main,
.menu-open .main-area {
	margin-top: 84px;
}
.menu-open #single-author-block {
	top: 90px;
}
.menu-open .sidebar-area {
	top: 133px;
}
#main, .main-area {
	-webkit-transition: margin-top 0.4s ease;
	-moz-transition: margin-top 0.4s ease;
	transition: margin-top 0.4s ease;
}
#single-author-block, .sidebar-area {
	-webkit-transition: top 0.4s ease;
	-moz-transition: top 0.4s ease;
	transition: top 0.4s ease;
}

/* Author block */
.comment .image {
	margin: 1px 0 0 6px;
	float:left;
	width: 32px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2) inset, 0px 0px 6px rgba(0,0,0,.4) inset;
}
.comment .image img {
	display: block;
	width: 32px;
	position: relative;
	z-index: -1; /* for shadow */
}
.author-block .image img{
	margin: 0 auto 10px;
	background: #fff;
	display:block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;	
}

/* Archives */

/*animation*/
.box-hold .box {
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s;
}
.box-hold .box.shown {
	opacity:1;
}

.box-hold .post.non-ajax {
	position:absolute;
	top:-1000px;
}

#posts {
	padding-bottom:80px;
}
#posts .box img.post-image {
	height: 143px;
	width: 190px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	background: #ddd;
}
.box-hold .box h2 {
	font: 300 28px/1.3em Oswald;
	margin:0 0 9px;
	padding: 10px 20px 20px;
	text-transform:uppercase;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #c24069;
	text-align: center;
}
.box-hold .box:not(#vertical-strip) a h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	margin: 0;
	padding: 25px 15%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(0, 0, 0, 0)), to(rgba(0,0,0, 0.4)));
}
.box-hold .box a {
	width: 100%;
	height: 100%;
	display: block;
}
.box .author-block {
	position: absolute;
	right: 0;
	left: 0;
	opacity: 0;
	padding: 30px 40px 70px;
	text-align: center;
	font-size: 9px;
	line-height: 1;
	color: #999;
	text-transform: uppercase;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
	-webkit-transition: opacity 0.4s 0s linear;
	   -moz-transition: opacity 0.4s 0s linear;
		-ms-transition: opacity 0.4s 0s linear;
		 -o-transition: opacity 0.4s 0s linear;
			transition: opacity 0.4s 0s linear;
}
.box:hover .author-block {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0s linear;
	   -moz-transition: opacity 0.4s 0s linear;
		-ms-transition: opacity 0.4s 0s linear;
		 -o-transition: opacity 0.4s 0s linear;
			transition: opacity 0.4s 0s linear;
}
.box .author-block span {
	font-size: 9px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
	font-weight: bold;
}
.box .author-block a {
	color: #fff;
}
.author-block .image{
	float: none;
	width: 32px;
	margin: 0 auto 9px auto;
}

.counter, .counter a {
	color:rgba(0, 0, 0, .2);
	font-weight: bold;
}
.counter .likes:before {
	content:"k";
	font-family: Pictos;
	font-weight: normal;
	padding-right:4px;
	text-transform: none;
}
.counter .comments:before {
	content:"w";
	font-family: Pictos;
	font-weight: normal;
	padding-right:4px;
	text-transform: none;
}
#posts .counter {
	position: absolute;
	bottom: 0;
	padding: 0 2%;
	width: 96%;
	color: #fff;
	font-size: 12px;
	background: rgba(0,0,0, .2);
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-align: right;
}
#posts .counter .mobile-category {
	float: left;
	font-size: 9px;
	text-transform: uppercase;
}
#posts .counter .comments {
	padding-left: 4px;
}
#posts .counter .likes:before,
#posts .counter .comments:before {
	font-size: 16px;
}

.pagination {
	clear: both;
	text-align:center;
}
#infinite-more {
	position:absolute;
	bottom:0;
	width:100%;
	color:#777777;
	text-align:center;
	font-weight:bold;
	text-shadow:0 -1px 0 #FFFFFF;
}

/* trending */
#vertical-strip {
	position: absolute;
	top: 800px;
	width: 100%;
	height: auto;
	min-height: 108px;
	margin: 0;
	background: #fff;
	z-index: 1;
}
#vertical-strip > h2 {
	padding: 11px 0 16px;
	margin: 0;
	color: #444;
	background: #eee;
}
#vertical-strip .vs-post {
    text-align: center;
}
@media (min-width: 1000px) {
	#vertical-strip .vs-posts {
		display: table-row;
	}
	#vertical-strip .vs-post {
		display: table-cell;
		width: 20%;
	}
}
#vertical-strip .vs-post h2 {
	padding: 2px 20px;
	font-size: 25px;
}
#vertical-strip .vs-post .counter {
    border: none;
    padding-top: 0;
}
#vertical-strip .vs-post .vs-category-label a {
    font-size: 9px;
    color: #999;
    text-transform: uppercase;
}

/* Tag archives */
#tag-meta h1.page-title::before {
	content: "z";
	display: block;
	color: #D8D8D8;
	font: normal 40px/1em Pictos;
}

/* Author archives */
#author-meta {
	max-width: 400px;
	margin:0 auto;
	text-shadow: 0 1px 0px white;
}
#author-meta img.avatar {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow:0 0 0px 5px #fff,0 0 10px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 0px 5px #fff,0 0 10px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 0px 5px #fff, 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
#author-meta h1 {
	margin:1em 0;
	color:#444444;
	font-size:20px;
}
#author-meta h4 {
font:600 14px/20px Helvetica;
}
.author-block-about {
	margin:0;
	color:#999999;
	font-size:100%;
}
#author-meta:after {
content: 'What I wrote ...';
display: block;
padding: 40px 0 20px 0;
font-weight: bold;
}

/*
 * Static page
 */
#page {
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
}

/*
 * Single post
 */
.post-box {
	padding:0 35px;
	overflow: hidden;
}

#content .loading {
	padding-top:20px;
}

#single .post .post-image-wrap {
	border:1px solid #cfcfcf;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom:20px;
	padding:15px;
	text-align:center;
}
#single .post .post-image-wrap.wrap-size-full {
	position: relative;
	width: 100%;
	padding: 0;
	border: none;
}

#single-author-block {
	position: fixed;
	top: 46px;
	margin-left: 469px;
	height: 32px;
	width: 290px;
	padding: 5px;
	background: #EEE;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 0 5px #CCCCCC;
	font-size: 11px;
	line-height: 17px;
	color: #999;
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
}
#single-author-block .image {
	float: left;
	width: 32px;
	margin-right: 8px;
}
#single-author-block .image img {
	border-radius: 4px;
	box-shadow: 0px 0px 0px 1px white;
}

#single-author-block .author-gplus {
	position:absolute;
	top:-1000px;
}

#single-author-block .counter {
	font-size: 12px;
	text-transform: none;
	text-shadow: 0 1px 0 #FFFFFF
}
#single-author-block .counter span {
	padding-right: 4px;
}
#single-author-block .counter .comments:before {
	padding-right: 0;
	vertical-align: middle;
}

#post-likes {
	float: right;
	padding: 3px 10px;
	color: #969696;
	font-weight: bold;
	text-transform: none;
}
#post-likes:before {
	content: "k";
	font-family: Pictos;
}
#post-likes.liked:before {
	color: #CC0000;
}

/* Social buttons */
#share {
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	padding-top: 10px;
}
#share > span, 
#share a {
	opacity: .5;
}
#share a:hover {
	opacity: 1;
}
#share a span {
	border-radius: 2px;
	margin-right: 2px;
	padding: 2px 4px;
	background: #C00;
	color: white;
	font-size: 9px;
	font-weight: normal;
	vertical-align: 2px;
}

.main-area h1,
#single .post .entry-title {
	font: 300 50px/1.2 'Oswald', Helvetica, 'Arial Narrow', Arial, sans-serif;
	color: #BE4068;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: center;
	display: block;
}
#single .post h1.entry-title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	padding: 5%;
	background: -webkit-gradient(linear, left top, left bottom, from( rgba(0,0,0,0)), to( rgba(0,0,0,.5)));
}
#single .post h1.entry-title a {
	color: #fff;
	text-shadow: 0 1px 0 #000;
}
#single .post strong.entry-title {
	font-size: 35px;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	opacity: .2;
	-webkit-transition: opacity .1s ease-in-out 0s;
	padding: 30px 35px 0;
}
#single .post strong.entry-title:hover {
	opacity: 1;
}
#single .post .entry-title a {
	color: #BE4068;
}
#content {
	position: relative;
}
#content img {
	margin: 0px auto;
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#content .bigimage {
	max-width:none;
	width: 118%;
	margin-left: -9%;
	border-radius: 0;
}
#content iframe, #content object, #content embed {
	width:100%!important;
	/*height:auto!important;*/
}
#content .image-wrap {
	display: block;
	position: relative;
}
#content .image-wrap .pin-it {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
#content .pin-it-button img {
	display: inline; /* NOTE: why all images in #content are set to display:block? */
	border-radius: 0; /* rounded corners on this image causes glitches in FF */
}

#content a {
	color:#c00;
}
#single .post a:hover{text-decoration:none;}

/* Modal image */
#modalImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100040;
	display: none;
}
#modalImage .modalImageBG {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
	z-index: -1;
}
#modalImage .modalImage {
	height: 100%;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Related */
#related {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 250px;
	width: 100%; /* to slide set in px by js */
	/* required */
	margin-top: 10px;
}
#related .slider {
	width: 100%;
	height: 100%;
	/* required */
}
#related .slide {
	float: left;
	height: 250px;
	width: 204px;
	/* required */
	overflow: hidden;
}
#related .slide img {
	height: 250px;
	margin-left: -67px;
}
#related .slide a {
	width: 200px;
	display: block;
	overflow: hidden;
}
#related .slide a div {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from( rgba(0,0,0,.0)), to( rgba(0,0,0,.6)));
	width: 160px;
	padding: 30px 20px 7px;
}
#related .slide a div span {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	font-family: Oswald;
	font-size: 20px;
	line-height: 1.25;
}

/* paging */
.post .paging {
	overflow:hidden;
	text-align: center;
}
.post .paging .next, 
.post .paging .prev,
.post .paging .next-cat {
	max-width:85%;
	margin: 25px 0;
	padding: 10px 15px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
	width: 100%;
	text-align: left;
	
}
.post .paging .next::before, 
.post .paging .prev::before {
	content: 'Next: ';
	font-weight: bold;
}
.post .paging .next-cat::before {
	content: 'Next Post: ';
	font-weight: bold;
}
.post .paging .next::after,
.post .paging .next-cat::after {
	content: ' →';
}

.post .paging ul {
	text-align: left;
}

/* ad */
#single .post .div-gpt-ad {
	margin: 0 auto 40px auto;
	width: 300px;
}
.KonaBody, .KonaFilter {display:block !important;} /* fixes default Kontera inline display */

/* tags */
#tags {
	margin: 10px 0;
}
#tags a[rel='tag']:before {
	content: "z";
	padding: 3px;
	color: #E8E8E8;
	font: 14px Pictos;
}
#tags a {
	display:inline-block; /* needed to fix glitches with tags hiding/showing */
	margin-right:5px;
	line-height:20px;
	font-size:12px;
	color:#73787e;
}
.hidden-tags {
	display:none;
}
#tags .switch-tags {
	font: 14px Pictos;
}

/* comments */
#comments {
	margin-top: 2px;
	font-size: 13px;
	line-height: 18px;
	width: 300px;
}

.comment-sort {
	cursor: pointer;
}

.comment {
	margin: 2px 0;
	padding: 5px 0;
	position: relative; /* these defines new z-index context so image shadows */
	z-index: 1;         /* will be rendered properly */
}
.replies {
	background: #EBEBEB;
	box-shadow: 0 1px 1px #CCCCCC inset;
}
.comment .comment-body {
	margin: 0 6px 6px 45px;
}
.comment-head {
	font-weight: bold;
}
.comment-foot {
	margin: 5px 0 0 0;
}
.comment-foot button {
	margin-right: 10px;
}
.comment .comment-author {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 85%);
}
.comment .time {
	font-size: 9px;
	font-weight: normal;
	color: #969696;
	position: absolute;
	top: 4px;
	right: 7px;
}

.all-replies {
	text-align: center;
	padding-bottom: 5px;
}
.comment .like-comment {
	text-decoration: none;
}
.comment .like-comment .like-text {
	text-decoration: underline;
}
.comment .liked {
	color: #CC0000;
}
.comment p {
	margin: 0;
}
.comment .ellipsis {
	font-weight: bold;
}

#popular-comments {
	display: none;
	margin: 10px 0;
	font-size: 13px;
}
#popular-comments .comment {
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#popular-comments .comment-author {
	font-weight: bold;
	-webkit-mask-image: none;
}
#show-comments {
	text-align: center;
}
#popular-comments .bt-link {
	color: #CC0000;
}

#more-comments {
	text-align: center;
	margin: 10px 0;
}
#more-comments button {
	border-radius: 3px;
	padding: 0 6px;
	font-size: 10.5px;
}

#comments .respond {
	position: fixed;
	bottom: 0;
	width: 290px; /* equal to .sidebar-area w/o scrollbar and padding */
}

.respond {
	padding: 5px;
	background: #EEE;
	border-top: 1px solid #DDD;
	box-shadow: 0 0 5px #CCCCCC;
}
.respond .login-link {
	display: block;
	width: 90%;
	margin: 0 auto;
	font-weight: bold;
}
.respond form {
	margin-bottom: 0;
}
.respond textarea {
	display: block;
	width: 96%;
	height: 36px;
	margin: 0 auto 4px;
	padding: 4px;
	color: #555555;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		-ms-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		 -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	   -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		 -o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
}
.respond input[type="submit"], .respond button {
	margin-right: 10px;
}
.respond .error {
	display: block;
	margin: 3px auto;
	background: #FFEBE8;
	border: 1px solid #CC0000;
	border-radius: 3px;
	padding: 3px;
}

/* sidebar */
#sidebar-wrapper {
	height: 100%;
	overflow: hidden; /* another try to fix Chrome scrolling glitch */
}
#sidebar {
	width:100%;
	height:100%;
	padding-right:50px; /* hide scrollbar */
	overflow-y:scroll;
	overflow-x: hidden;
	line-height: 1.2;
}
.sidebar-widget {
	margin: 5px 0;
}

/* particular popups */
.search-box {
	position: relative;
	margin-top: -7px;
}
.search-box label {
	position: absolute;
	left: 5px;
	top: 6px;
	color: rgba(0, 0, 0, .1);
	font-size: 16px;
	line-height: 18px;
}
.search-box input {
	background: #FCFCFC;
	border: none;
	outline: none;
	border-radius: 120px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 #FFFFFF inset;
	width: 80%;
	height: 18px;
	padding: 5px 5px 5px 20px;
	color: #4C4C4C;
	font-size: 12px;
	line-height: 16px;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}
.autocomplete-w1 {
	padding: 0 5px 0 20px;
}
.autocomplete {
	background: white;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	padding: 5px 0;
}
.autocomplete div {
	padding: 0 5px;
}
.autocomplete .selected {
	background:#F9CDD0;
}

#popup.activity .mini-post,
#popup.activity .mini-comment {
	border-bottom: 1px dashed #cccccc;
	border-top: 1px dashed #ffffff;
}
#popup.activity .mini-post .entry-link {
	margin-bottom: 0;
}
#copyright {
	padding: 0 20px;
}
#copyright li {
	list-style: none;
	border-bottom: 1px dotted #fafbfa;
	padding: 5px 0;
}
#wpstats, #templates {
	display: none;
}

.admore {
	line-height: 1.3em;
}
.home-ad {
	margin: 15px auto;
	width: 160px;
	height:600px
}
.ad-right {
	position: fixed;
	top: 0;
	bottom: 0;
	margin-left: 769px;
	background: #444;
	box-shadow: inset 3px 0px 3px -2px #000;
}
.ad-120x600 {
	width: 120px;
}
.ad-300x600 {
	width: 300px;
}

.yiiLog {
	position: absolute;
	top: 0;
	left: 50px;
	width: 25px;
	z-index: 1000;
}
.yiiLog tr:not(:first-child) {
	display: none;
}
.yiiLog:hover {
	width: auto;
}
.yiiLog:hover tr:not(:first-child) {
	display: table-row;
}

@media (max-width: 340px) {
	#header .search-box input { width: 100px; }
}
@media (max-width: 530px) {
	#header #top #logo { display: none; }
}

@media (max-width: 767px) {
	#wrapper,
	.layout-post.ad-layout-none #wrapper,
	.layout-page.ad-layout-none #wrapper {
		padding-top: 0;
		width: auto;
		float: none;
	}
	body.popup-slide {
		overflow-x: hidden;
	}
	.layout-post.ad-layout-none #header,
	.layout-post.ad-layout-narrow #header,
	.layout-post.ad-layout-wide #header,
	.layout-page.ad-layout-none #header,
	.layout-page.ad-layout-narrow #header,
	.layout-page.ad-layout-wide #header,
	#header {
		position: relative;
		left: 0;
		right: 0;
	}
	#header #logo a {
		margin-left: 44px;
	}
	#menu {
		display: none;
		position: fixed;
		z-index: 1100;
		top: 0;
		bottom: 0;
		left: 0;
		right: auto;
		width: 180px;
		height: auto;
		background: #444;
		text-align: left;
		-webkit-box-shadow: inset -4px 0 4px -4px #001;
		-moz-box-shadow: inset -4px 0 4px -4px #001;
		box-shadow: inset -4px 0 4px -4px #001;
	}
	#menu .prev,
	#menu .next {
		display: none;
	}
	#menu ul {
		overflow-y: auto;
		padding-right: 50px;
		height: 100%;
		width: 180px;
	}
	#menu ul li {
		float: none;
		height: 36px;
		padding: 0;
		border-bottom: 1px solid #333;
		border-top: 1px solid #555;
	}
	#menu ul li:first-child,
	#menu ul li:last-child {
		margin: 0;
	}
	#menu ul li a {
		line-height: 34px;
		display: block;
	}	
	#menu ul li a:hover {
		color: #999;
	}
	.menu-open #header {
		height: 40px;
	}
	.menu-open #main,
	.menu-open .main-area {
		margin-top: 0;
	}
	.menu-open .sidebar-area {
		top: 0;
	}
	#single-author-block {
		margin: 0;
		padding: 7px 2%;
	}
	#single-author-block .counter {
		top: 62px;
	}
	#single-author-block .counter .comments {
		cursor: pointer;
	}
	#single-author-block .time {
		top: 48px;
	}
	
	.layout-blog #main {
		margin-top: 0;
	}
	
	.blog-hold {
		width: auto;
		margin: 0;
		border: none;
		box-shadow: none;
	}
	#page {
		margin-top: 0;
	}
	#single {
		border: none;
		width: auto;
		margin-top: 0;
		float: none;
	}
	#single .post .entry-title {
		font-size: 2em;
		padding: 5px 10px;
	}
	#content .post-box h4 {
		font-size: 2em;
		
	}
	.sidebar-area {
		background: #F8F8F8;
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -100%;
		width: 100%;
		margin: 0;
		z-index: 1001;
	}
	#comments {
		width: auto;
		margin-top: 20px;
	}
	
	.overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#popup {
		position: relative;
		width: auto;
		right: -100%;
		min-height: 100%;
	}
	#popup-content {
		overflow-y: visible;
	}
	.sidebar-close {
		display: block;
		position: fixed;
		top: 7px;
		left: 14px;
		z-index: 10;
		color: #302F2F;
		font-size: 20px;
		line-height: 20px;
		text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
		cursor: pointer;
	}
	body.popup-slide .sidebar-close {
		position: absolute;
	}
	.header-mobile .header-title {
		color: #9F4E69;
		font: 28px/1 Oswald;
	}
	
	#single .post,
	#single-author-block {
		/* negative spread radius and same vertical offset for the shadow only from top */
		box-shadow: 0 10px 10px -10px #4C4C4C inset;
	}
	
	.post-box,
	#single .post .entry-title {
		padding-left: 30px;
		padding-right: 30px;
	}
	#single .post h1.entry-title {
		text-align: center;
	}
	#popular-comments {
		display: block;
	}
	
	#sidebar-wrapper {
		height: auto;
		overflow: visible;
		background: #F8F8F8;
	}
	#sidebar {
		height: auto;
		overflow-y: visible;
		padding: 0;
		width: auto;
	}
	
	#single-author-block,
	#comments .respond {
		position: static;
		width: auto;
	}
	
	.comment-sort {
		display: none;
	}
	
	.div-gpt-ad {
		margin-left: auto;
		margin-right: auto;
	}
	
	.yiiLog {
		display: none;
	}
}

@media (max-width: 480px) {
	/* Auth popup */
	#myModal {
		top: 0;
		left: 0;
		margin: 0 !important;
		width: 100% !important;
		height: 100% !important;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	#myModal .modal-body {
		text-align: center;
	}
}
